@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css or App.css */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 2;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

@layer utilities {
  .text-outline-black {
    text-shadow:
      -1px -1px 0 #515ae5,
       1px -1px 0 #515ae5,
      -1px  1px 0 #515ae5,
       1px  1px 0 #515ae5;
  }
  .text-outline-black-sm {
    text-shadow:
      -0.5px -0.5px 0 #515ae5,
       0.5px -0.5px 0 #515ae5,
      -0.5px  0.5px 0 #515ae5,
       0.5px  0.5px 0 #515ae5;
  }
  .text-outline-white {
    text-shadow:
      -2px -2px 0 #fff,
       2px -2px 0 #fff,
      -2px  2px 0 #fff,
       2px  2px 0 #fff;
  }
}
